.hiddenform{
display:none;
}

.resformc{
background-color:#ffffff;
padding:40px;
margin:auto;
position:relative;
max-width:400px;
border-radius:5px;
}

.formbutton{
padding:2px 5px 0;
width:100%;
font-size:12px;
}

.forminput{
padding:15px;
margin-bottom:10px;
width:100%;
border:1px solid #a2a2a2;
}

.resformc textarea{
box-sizing:border-box;
border-radius:5px;
font-size:13px;
resize: vertical;
}

.formparagraph{
margin-bottom:10px;
}

.formwhatfor{
margin-top:10px;
font-size:12px;
}
